# Python introduction

<h2>What is Python?</h2>
<p>Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.</p>

<h2>It is used for:</h2>
<ul>
<li>web development (server-side)</li>
<li>software development</li>
<li>mathematics</li>
<li>system scripting</li>
</ul>

<h2>What can Python do?</h2>
<ul>
<li>Python can be used on a server to create web applications.</li>
<li>Python can be used alongside software to create workflows.</li>
<li>Python can connect to database systems. It can also read and modify files.</li>
<li>Python can be used to handle big data and perform complex mathematics.</li>
<li>Python can be used for rapid prototyping, or for production-ready software development.</li>
</ul>   
<h2>Why Python?</h2>
<ul>
<li>Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).</li>
<li>Python has a simple syntax similar to the English language.</li>
<li>Python has syntax that allows developers to write programs with fewer lines than some other programming languages.</li>
<li>Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.</li>
<li>Python can be treated in a procedural way, an object-oriented way or a functional way.</li>

<li>The most recent major version of Python is Python 3, which we shall be using in this tutorial. However, Python 2, although not being updated with anything other than security updates, is still quite popular.</li>
<li>In this tutorial Python will be written in a text editor. It is possible to write Python in an Integrated Development Environment, such as Thonny, Pycharm, Netbeans or Eclipse which are particularly useful when managing larger collections of Python files.</li>
<li>Python Syntax compared to other programming languages.</li>
<li>Python was designed for readability, and has some similarities to the English language with influence from mathematics.</li>
<li>Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.</li>
<li>Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.</li>
    </ul>

# 1-Python Setups

<a>https://www.python.org/downloads/</a>

# 2-Print or Output Function

In [1]:
#Output String
print("Hello World")

Hello World

In [2]:
#Output String
print('Hello World')

Hello World

# 3-Python Varaibles

<h2>Variables</h2>
Variables are containers for storing data values.

<h2>Creating Variables</h2>
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [3]:
x = 5
y = "John"
print(x)
print(y)

5
John

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [4]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

<h2>Casting</h2>
If you want to specify the data type of a variable, this can be done with casting.

In [5]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

<h2>Get the Type</h2>
You can get the data type of a variable with the type() function.

In [6]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

<h2>Case-Sensitive</h2>
Variable names are case-sensitive.

In [7]:
a = 4
A = "Sally"
#A will not overwrite a

<h2>Variable Names</h2>
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

<li>A variable name must start with a letter or the underscore character</li>
<li>A variable name cannot start with a number</li>
<li>A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )</li>
<li>Variable names are case-sensitive (age, Age and AGE are three different variables)</li>
<li>A variable name cannot be any of the Python keywords.</li>

In [8]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

<h2>Multi Words Variable Names</h2>
Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

<h2>Camel Case</h2>
Each word, except the first, starts with a capital letter:

In [9]:
myVariableName = "John"

<h2>Pascal Case</h2>
Each word starts with a capital letter:

In [10]:
MyVariableName = "John"

<h2>Snake Case</h2>
Each word is separated by an underscore character:

In [11]:
my_variable_name = "John"

<h2>Many Values to Multiple Variables</h2>
Python allows you to assign values to multiple variables in one line:

In [12]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

<h2>One Value to Multiple Variables</h2>
And you can assign the same value to multiple variables in one line:

In [13]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

<h2>Global Variables</h2>
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

Create a variable outside of a function, and use it inside the function

In [14]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

<h2>The global Keyword</h2>
Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [15]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# 4-Input Function

In [16]:
#Take input by using input Function 
inp=input("Enter your Name")
print(inp)
#by default the input taken is string type

# 5-Python Data Types

<h2>Built-in Data Types</h2>
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str <br>
Numeric Types:	int, float, complex<br>
Sequence Types:	list, tuple, range<br>
Mapping Type:	dict<br>
Set Types:	set, frozenset<br>
Boolean Type:	bool<br>
Binary Types:	bytes, bytearray, memoryview<br>
None Type:	NoneType<br>

<h2>Setting the Data Type</h2>
In Python, the data type is set when you assign a value to a variable:



<table>
    <tr>
        <th>Example</th>
        <th>Data Type</th>
        <th></th>
    </tr>
    <tr>
        <td>x = "Hello World"</td>
        <td>str</td>
        <td></td>
    </tr>
    <tr>
        <td>x = 20</td>
        <td>int</td>
        <td></td>
    </tr>
    <tr>
        <td>x = 20.5</td>
        <td>float</td>
        <td></td>
    </tr>
    <tr>
        <td>x = 1j</td>
        <td>complex</td>
        <td></td>
    </tr>
    <tr>
        <td>x = ["apple", "banana", "cherry"]</td>
        <td>list</td>
        <td></td>
    </tr>
    <tr>
        <td>x = ("apple", "banana", "cherry")</td>
        <td>tuple</td>
        <td></td>
    </tr>
    <tr>
        <td>x = range(6)</td>
        <td>range</td>
        <td></td>
    </tr>
    <tr>
        <td>x = {"name" : "John", "age" : 36}</td>
        <td>dict</td>
        <td></td>
    </tr>
    <tr>
        <td>x = {"apple", "banana", "cherry"}</td>
        <td>set</td>
        <td></td>
    </tr>
    <tr>
        <td>x = frozenset({"apple", "banana", "cherry"})</td>
        <td>frozenset</td>
        <td></td>
    </tr>
    <tr>
        <td>x = True</td>
        <td>bool</td>
        <td></td>
    </tr>
    <tr>
        <td>x = b"Hello"</td>
        <td>bytes</td>
        <td></td>
    </tr>
    <tr>
        <td>x = bytearray(5)</td>
        <td>bytearray</td>
        <td></td>
    </tr>
    <tr>
        <td>x = memoryview(bytes(5))</td>
        <td>memoryview</td>
        <td></td>
    </tr>
    <tr>
        <td>x = None</td>
        <td>NoneType</td>
        <td></td>
    </tr>
</table>

<h2>Setting the Specific Data Type</h2>
If you want to specify the data type, you can use the following constructor functions:


<table>
    <tr>
        <th>Example</th>
        <th>Data Type</th>
        <th></th>
    </tr>
    <tr>
        <td>x = "Hello World"</td>
        <td>str</td>
        <td></td>
    </tr>
    <tr>
        <td>x = 20</td>
        <td>int</td>
        <td></td>
    </tr>
    <tr>
        <td>x = 20.5</td>
        <td>float</td>
        <td></td>
    </tr>
    <tr>
        <td>x = 1j</td>
        <td>complex</td>
        <td></td>
    </tr>
    <tr>
        <td>x = ["apple", "banana", "cherry"]</td>
        <td>list</td>
        <td></td>
    </tr>
    <tr>
        <td>x = ("apple", "banana", "cherry")</td>
        <td>tuple</td>
        <td></td>
    </tr>
    <tr>
        <td>x = range(6)</td>
        <td>range</td>
        <td></td>
    </tr>
    <tr>
        <td>x = {"name" : "John", "age" : 36}</td>
        <td>dict</td>
        <td></td>
    </tr>
    <tr>
        <td>x = {"apple", "banana", "cherry"}</td>
        <td>set</td>
        <td></td>
    </tr>
    <tr>
        <td>x = frozenset({"apple", "banana", "cherry"})</td>
        <td>frozenset</td>
        <td></td>
    </tr>
    <tr>
        <td>x = True</td>
        <td>bool</td>
        <td></td>
    </tr>
    <tr>
        <td>x = b"Hello"</td>
        <td>bytes</td>
        <td></td>
    </tr>
    <tr>
        <td>x = bytearray(5)</td>
        <td>bytearray</td>
        <td></td>
    </tr>
    <tr>
        <td>x = memoryview(bytes(5))</td>
        <td>memoryview</td>
        <td></td>
    </tr>
    <tr>
        <td>x = None</td>
        <td>NoneType</td>
        <td></td>
    </tr>
    <!-- Additional data -->
    <tr>
        <td>x = str("Hello World")</td>
        <td>str</td>
        <td></td>
    </tr>
    <tr>
        <td>x = int(20)</td>
        <td>int</td>
        <td></td>
    </tr>
    <tr>
        <td>x = float(20.5)</td>
        <td>float</td>
        <td></td>
    </tr>
    <tr>
        <td>x = complex(1j)</td>
        <td>complex</td>
        <td></td>
    </tr>
    <tr>
        <td>x = list(("apple", "banana", "cherry"))</td>
        <td>list</td>
        <td></td>
    </tr>
    <tr>
        <td>x = tuple(("apple", "banana", "cherry"))</td>
        <td>tuple</td>
        <td></td>
    </tr>
    <tr>
        <td>x = range(6)</td>
        <td>range</td>
        <td></td>
    </tr>
    <tr>
        <td>x = dict(name="John", age=36)</td>
        <td>dict</td>
        <td></td>
    </tr>
    <tr>
        <td>x = set(("apple", "banana", "cherry"))</td>
        <td>set</td>
        <td></td>
    </tr>
    <tr>
        <td>x = frozenset(("apple", "banana", "cherry"))</td>
        <td>frozenset</td>
        <td></td>
    </tr>
    <tr>
        <td>x = bool(5)</td>
        <td>bool</td>
        <td></td>
    </tr>
    <tr>
        <td>x = bytes(5)</td>
        <td>bytes</td>
        <td></td>
    </tr>
    <tr>
        <td>x = bytearray(5)</td>
        <td>bytearray</td>
        <td></td>
    </tr>
    <tr>
        <td>x = memoryview(bytes(5))</td>
        <td>memoryview</td>
        <td></td>
    </tr>
</table>

# 6-Python Casting

<h3>Specify a Variable Type</h3>
There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.<br>

Casting in python is therefore done using constructor functions:

<li>int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
<li>float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
<li>str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
#Integers:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
x,y,z

(1, 2, 3)

In [ ]:
#Floats:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
#string:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [ ]:
print(10 + 5)

15

# 7-Python keywords and indefiers

Keywords are predefined, reserved words used in Python programming that have special meanings to the compiler.

We cannot use a keyword as a variable name, function name, or any other identifier. They are used to define the syntax and structure of the Python language.

All the keywords except True, False and None are in lowercase and they must be written as they are. The list of all the keywords is given below.

 Python Keywords List	 	 <br>
False	<br>await<br>	else<br>	import<br>	pass<br>
None<br>	break	<br>except<br>	in<br>	raise<br>
True<br>	class<br>	finally	<br>is<br>	return<br>
and<br>	continue<br>	for	<br>lambda<br>	try<br>
as<br>	def<br>	from<br>	nonlocal<br>	while<br>
assert<br>	del	<br>global	<br>not<br>	with<br>
async<br>	elif<br>	if<br>	or<br>	yield<br>

Identifiers are the vairaibles we cannot use keyword as a vairiable name.

# 8-Python Comments

<h3>Single line Comment</h3>

In [2]:
#hello

<h3>Multi line Comment</h3>

In [1]:
"""Hello, World!
s = "Hello, World!"
"""

'Hello, World!\ns = "Hello, World!"\n'