# 1-Solving Loops Problems

<a src=https://csiplearninghub.com/practice-questions-of-loops-in-python/>Python Problems<a>

# 2-Break, Continue and Pass Statement

<b>break</b><br>	Terminate the current loop. Use the break statement to come out of the loop instantly.<br>
<b>continue</b>	<br>Skip the current iteration of a loop and move to the next iteration<br>
<b>pass</b>	<br>Do nothing. Ignore the condition in which it occurred and proceed to run the program as usual<br>

In [1]:
#break
numbers = [10, 40, 120, 230]
for i in numbers:
    if i > 100:
        break
    print('current number', i)

current number 10
current number 40

In [2]:
#continue
numbers = [2, 3, 11, 7]
for i in numbers:
    print('Current Number is', i)
    # skip below statement if number is greater than 10
    if i > 10:
        continue
    square = i * i
    print('Square of a current number is', square)

Current Number is 2
Square of a current number is 4
Current Number is 3
Square of a current number is 9
Current Number is 11
Current Number is 7
Square of a current number is 49

In [3]:
#pass
months = ['January', 'June', 'March', 'April']
for mon in months:
    pass
print(months)

['January', 'June', 'March', 'April']

# 3-Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [4]:
print("Hello")
print('Hello')

Hello
Hello

In [ ]:
#assign string to a variable
a = "Hello"
print(a)

<h3>Multiline strings</h3>
You can assign a multiline string to a variable by using three quotes:

In [5]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# 4-String Indexing
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [6]:
a='Hello World'
print(a[0])

H

In [7]:
#print whole string using slice operator
a='Hello World'
print(a[:])

Hello World

In [10]:
#print whole string by using loop
a='Hello World'
for i in a:
    print(i,end="")

Hello World

# 5-String Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [11]:
b = "Hello, World!"
print(b[2:5])

llo

Negative Indexing
Use negative indexes to start the slice from the end of the string:
Example
Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

In [12]:
b = "Hello, World!"
print(b[-5:-2])

orl

# 6-Edit and Delete a String

In [14]:
#edit string by using replace function
a='Hello World'
a=a.replace('H','J')
print(a)

Jello World

In [16]:
developer = 'Jessica Wilkins'
developer=developer.replace('Wilkins', '')
print(developer)

Jessica

# 7-Operation on String
Python has a set of built-in methods that you can use on strings.

<!DOCTYPE html>
<html>
<head>
    <title>String Methods in Python</title>
</head>
<body>

<h2>String Methods in Python</h2>

<table border="1">
    <tr>
        <th>Method</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>capitalize()</td>
        <td>Converts the first character to upper case</td>
    </tr>
    <tr>
        <td>casefold()</td>
        <td>Converts string into lower case</td>
    </tr>
    <tr>
        <td>center()</td>
        <td>Returns a centered string</td>
    </tr>
    <tr>
        <td>count()</td>
        <td>Returns the number of times a specified value occurs in a string</td>
    </tr>
    <tr>
        <td>encode()</td>
        <td>Returns an encoded version of the string</td>
    </tr>
    <tr>
        <td>endswith()</td>
        <td>Returns true if the string ends with the specified value</td>
    </tr>
    <tr>
        <td>expandtabs()</td>
        <td>Sets the tab size of the string</td>
    </tr>
    <tr>
        <td>find()</td>
        <td>Searches the string for a specified value and returns the position of where it was found</td>
    </tr>
    <tr>
        <td>format()</td>
        <td>Formats specified values in a string</td>
    </tr>
    <tr>
        <td>format_map()</td>
        <td>Formats specified values in a string</td>
    </tr>
    <tr>
        <td>index()</td>
        <td>Searches the string for a specified value and returns the position of where it was found</td>
    </tr>
    <tr>
        <td>isalnum()</td>
        <td>Returns True if all characters in the string are alphanumeric</td>
    </tr>
    <tr>
        <td>isalpha()</td>
        <td>Returns True if all characters in the string are in the alphabet</td>
    </tr>
    <tr>
        <td>isascii()</td>
        <td>Returns True if all characters in the string are ascii characters</td>
    </tr>
    <tr>
        <td>isdecimal()</td>
        <td>Returns True if all characters in the string are decimals</td>
    </tr>
    <tr>
        <td>isdigit()</td>
        <td>Returns True if all characters in the string are digits</td>
    </tr>
    <tr>
        <td>isidentifier()</td>
        <td>Returns True if the string is an identifier</td>
    </tr>
    <tr>
        <td>islower()</td>
        <td>Returns True if all characters in the string are lower case</td>
    </tr>
    <tr>
        <td>isnumeric()</td>
        <td>Returns True if all characters in the string are numeric</td>
    </tr>
    <tr>
        <td>isprintable()</td>
        <td>Returns True if all characters in the string are printable</td>
    </tr>
    <tr>
        <td>isspace()</td>
        <td>Returns True if all characters in the string are whitespaces</td>
    </tr>
    <tr>
        <td>istitle()</td>
        <td>Returns True if the string follows the rules of a title</td>
    </tr>
    <tr>
        <td>isupper()</td>
        <td>Returns True if all characters in the string are upper case</td>
    </tr>
    <tr>
        <td>join()</td>
        <td>Converts the elements of an iterable into a string</td>
    </tr>
    <tr>
        <td>ljust()</td>
        <td>Returns a left justified version of the string</td>
    </tr>
    <tr>
        <td>lower()</td>
        <td>Converts a string into lower case</td>
    </tr>
    <tr>
        <td>lstrip()</td>
        <td>Returns a left trim version of the string</td>
    </tr>
    <tr>
        <td>maketrans()</td>
        <td>Returns a translation table to be used in translations</td>
    </tr>
    <tr>
        <td>partition()</td>
        <td>Returns a tuple where the string is parted into three parts</td>
    </tr>
    <tr>
        <td>replace()</td>
        <td>Returns a string where a specified value is replaced with a specified value</td>
    </tr>
    <tr>
        <td>rfind()</td>
        <td>Searches the string for a specified value and returns the last position of where it was found</td>
    </tr>
    <tr>
        <td>rindex()</td>
        <td>Searches the string for a specified value and returns the last position of where it was found</td>
    </tr>
    <tr>
        <td>rjust()</td>
        <td>Returns a right justified version of the string</td>
    </tr>
    <tr>
        <td>rpartition()</td>
        <td>Returns a tuple where the string is parted into three parts</td>
    </tr>
    <tr>
        <td>rsplit()</td>
        <td>Splits the string at the specified separator, and returns a list</td>
    </tr>
    <tr>
        <td>rstrip()</td>
        <td>Returns a right trim version of the string</td>
    </tr>
    <tr>
        <td>split()</td>
        <td>Splits the string at the specified separator, and returns a list</td>
    </tr>
    <tr>
        <td>splitlines()</td>
        <td>Splits the string at line breaks and returns a list</td>
    </tr>
    <tr>
        <td>startswith()</td>
        <td>Returns true if the string starts with the specified value</td>
    </tr>
    <tr>
        <td>strip()</td>
        <td>Returns a trimmed version of the string</td>
    </tr>
    <tr>
        <td>swapcase()</td>
        <td>Swaps cases, lower case becomes upper case and vice versa</td>
    </tr>
    <tr>
        <td>title()</td>
        <td>Converts the first character of each word to upper case</td>
    </tr>
    <tr>
        <td>translate()</td>
        <td>Returns a translated string</td>
    </tr>
    <tr>
        <td>upper()</td>
        <td>Converts a string into upper case</td>
    </tr>
    <tr>
        <td>zfill()</td>
        <td>Fills the string with a specified number of 0 values at the beginning</td>
    </tr>
</table>

</body>
</html>

# 8-Common String Functions

See heading no 7